@import "tailwindcss";

:root {
  --background: #15404C;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-open-sans);

  --color-dropdown-button-bg: #658086;
  --color-dropdown-button-hover-bg: #4a6a73;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}
